PROJECT_NAME=MKK Nebus Payments
DEBUG=true
API_KEY=
UVICORN_HOST=localhost
UVICORN_PORT=8001

POSTGRES_DB=payments
POSTGRES_USER=payments
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

RABBITMQ_DEFAULT_USER=payments
RABBITMQ_DEFAULT_PASS=
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
